body {
    font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: rgb(19, 92, 47);






}

nav {
  background-color: rgb(9, 159, 129);
  padding: 10px;
  display: flex;
  justify-content: space-around;


}

nav a {
  color: rgb(233, 222, 237);
  text-decoration: none;
  padding: 10px;
  background-color: bisque;


}

nav>ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: var(--lightPurple);
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--darkBlue);
  border-radius: 5px;
  transition: all 0.5s;
}

nav li a:hover {
  background-color: var(--lightBlue);
  font-size: 1.2rem;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
}

                                        
h1,
h2,h3{
  color:rgba(238, 229, 229, 0.639);                                                                                                                          rgb(98, 43, 226);
  animation: ease-in-out;
  transition-duration: 0.3s, 500ms;
}

img {
  max-width: 100%;
  margin: 10px 0;

}